* {
  padding: 0%;
  margin: 0%;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(5, 48, 108);
}
nav .title {
  font-size: 1.5rem;
  margin: 0.5rem;
  font-size: larger;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: medium;
  margin-right: auto;
  display: block;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
nav ul li a:hover {
  background-color: rgb(7, 88, 138);
}
